$background: #f3f7fa;
$text-color: #4a4a4a;
$border: #9abbce;
$background-hover: #f1fcff;
$active: #2196f3;
$tabs-border: #dfe5ec;
$shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
$greytext: #a0b0b9;
